<!DOCTYPE html>

<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<div th:include="~{/share/admin-header :: admin-head}"></div>
<body class="hold-transition sidebar-mini">
<div class="wrapper">
    <div th:include="~{/share/admin-sidebar :: admin-sidebar}"></div>

    <div class="content-wrapper p-5">
        <form enctype="multipart/form-data"
              method="post" th:action="@{/admin/movies/add}" th:object="${newMovie}">

            <div class="row">
                <div class="col-3 image_upload">
                    <img src="#" alt="#" th:src="@{/img/default.jpg}" class="w-100">
                    <input type="file" name="file" required class="w-100 mt-3">
                </div>
                <div class="col-9">
                    <div class="row">
                        <label class="mr-3">
                            Название
                            <input type="text" th:field="*{name}" class="form-control" required>
                        </label>
                        <div class=" mr-3">
                            <p class="m-0 text-bold">Начало проката</p>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                                </div>
                                <input type="text" class="form-control" data-inputmask-alias="datetime"
                                       th:field="*{startDate}" th:value="*{startDate}" required
                                       data-inputmask-inputformat="dd/mm/yyyy" data-mask="" im-insert="false">
                            </div>
                        </div>
                        <div>
                            <p class="m-0 text-bold">Конец проката</p>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                                </div>
                                <input type="text" class="form-control" data-inputmask-alias="datetime"
                                       th:field="*{endDate}" th:value="*{endDate}" required
                                       data-inputmask-inputformat="dd/mm/yyyy" data-mask="" im-insert="false">
                            </div>
                        </div>
                    </div>
                    <label>
                        Описание фильма
                        <textarea th:field="*{description}" rows="7" required class="form-control"></textarea>
                    </label>
                    <label>
                        Ссылка видеоролика
                        <input th:field="*{videoLink}" class="form-control">
                    </label>
                </div>
            </div>

            <div class="seo_block mt-4">
                <p class="bg-blue text-xl-center">SEO</p>
                <label>
                    SEO url
                    <input type="text" class="form-control" th:field="*{seo.url}" required>
                </label>
                <label>
                    SEO заголовок
                    <input type="text" class="form-control" th:field="*{seo.title}" required>
                </label>
                <label>
                    SEO ключевые слова
                    <input type="text" class="form-control" th:field="*{seo.keyWords}" required>
                </label>
                <label>
                    SEO описание
                    <input type="text" class="form-control" th:field="*{seo.description}" required>
                </label>
            </div>

<!--            <div th:each="t, i : ${theTypes}" class="d-flex align-items-baseline">-->
<!--                <input  type="checkbox" th:field="*{types}" th:value="${t.id}">-->
<!--                <label th:for="${t.id}" th:text="${t.type}"></label>-->
<!--            </div>-->

            <input type="submit" value="Сохранить" class="btn btn-success">

        </form>
    </div>


</div>
<div th:include="~{/share/admin-scripts :: admin-scripts}"></div>
</body>
</html>
