<!DOCTYPE html>

<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<div th:include="~{/share/admin-header :: admin-head}"></div>
<body class="hold-transition sidebar-mini">
<div class="wrapper">

    <div th:include="~{/share/admin-sidebar :: admin-sidebar}"></div>

    <div class="content-wrapper p-5">

        <form action="#" th:object="${banner}" enctype="multipart/form-data" th:action="@{/admin/banners/upload}"
              method="post" class="border rounded border-dark elevation-2 pb-3">

            <div class="head bg-gradient-gray p-3">
                <div class="row">
                    <div class="col-2 text-xl" th:text="*{pageName}"></div>
                    <div class="col-8">
                        <div class="d-flex justify-content-between align-items-baseline">
                            <div class="speed d-flex align-items-baseline">
                                <label for="speed" class="mr-3">Скорость слайдера</label>
                                <select id="speed" th:field="*{speed}" class="form-control" style="width: 80px">
                                    <option value="2">2c</option>
                                    <option value="3">3c</option>
                                    <option value="4">4c</option>
                                    <option value="5">5c</option>
                                </select>
                            </div>

                            <div class="bootstrap-switch-container">
                                <input type="checkbox" name="my-checkbox" checked="" data-bootstrap-switch=""
                                       th:field="*{enabled}">
                            </div>
                        </div>
                    </div>
                    <div class="col-2">
                        <input type="submit" class="btn btn-success w-100" value="Сохранить">
                    </div>
                </div>
            </div>
            <div class="grid p-3">
                <div th:each="pic, iter : *{images}">
                    <img src="#" alt="picture" th:src="${pic.url}">
                    <input form="delete" type="hidden" name="picture" th:value="${iter}">
                    <input form="delete" type="hidden" name="banner_id" th:value="${banner.id}">
                    <input form="delete" type="submit" value="Удалить">
                </div>
            </div>
            <span id="file_title" class="ml-3">Файл не выбран</span>

        </form>
        <form id="delete" method="post" th:action="@{/admin/banners/delete}"></form>
    </div>

</div>
<div th:include="~{/share/admin-scripts :: admin-scripts}"></div>
<script>
    $('#upload').change(() => {
        $('#file_title').text($('#upload')[0].files[0].name);
    })
</script>
</body>
</html>
