<!DOCTYPE html>

<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<div th:include="~{/share/admin-header :: admin-head}"></div>
<body class="hold-transition sidebar-mini">
<div class="wrapper">

    <div th:include="~{/share/admin-sidebar :: admin-sidebar}"></div>

    <div class="content-wrapper p-5">
        <div class="banner" th:each="banner, i : ${banners}" th:attrappend="class=${!i.first} ? ' ' + 'mt-3'" th:object="${banners}">
            <div class="border rounded border-dark elevation-2">
                <div class="head bg-gradient-gray p-3 d-flex justify-content-between">
                    <h2  th:text="${banner.pageName}" class="m-0"></h2>
                    <a href="#" class="btn btn-outline-light" th:href="@{/admin/banners/{id}(id = ${banner.id})}">Редактировать</a>
                </div>
                <div class="bg-gray-light">
                    <div class="grid p-3">
                        <img src="#" alt="#" th:each="image : ${banner.images}" th:src="${image.url}" class="w-100">
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div th:include="~{/share/admin-scripts :: admin-scripts}"></div>
</body>
</html>
