<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{/share/head-share :: head}"></th:block>
    <title>Admin cinema</title>
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">
    <!-- Main Sidebar Container -->
    <th:block th:include="~{/share/side-share :: side}"></th:block>

    <div class="content-wrapper p-3">

        <div class="p-3 bg-gradient-warning mt-2 mb-0 d-flex justify-content-between">
            <p class="m-0  text-xl">Новый залл</p>
        </div>

        <form class="container-fluid" method="post" enctype="multipart/form-data" th:object="${hall}" th:action="@{/admin/hall/save}">

            <div class="container">
                <div class="row">
                    <div class="col">
                        <label>
                            Название
                            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger"></span>
                            <input type="text" th:field="*{name}" class="form-control" placeholder="The cinema-hall"
                                   th:attrappend="class=${#fields.hasErrors('name')} ? ' is-invalid'">
                        </label>
                        <label class="col-1">
                            Ряды
                            <input type="number" class="form-control" min="0" value="0" name="rows-count">
                        </label>
                        <label class="col-1">
                            Мест/ряд
                            <input type="number" class="form-control" min="0" value="0" name="place-count">
                        </label>
                        <span th:if="${#fields.hasErrors('places')}" th:errors="*{places}" class="text-danger"></span>
                    </div>
                </div>

                <!-- Description-->
                <th:block th:include="~{/share/description-share :: description}"></th:block>

                <div class="row">
                    <div class="col">
                        <th:block th:include="~{/share/logo-share :: logo-image}"></th:block>
                    </div>
                    <div class="col">
                        <th:block th:include="~{/share/banner-share :: banner-image}"></th:block>
                    </div>
                </div>
            </div>

            <th:block th:include="~{/share/gallery-share :: gallery-images}"></th:block>
            <th:block th:include="~{/share/seo-share :: seo}"></th:block>

            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-default mt-5 mb-5 w-50">
                    Далее...
                    <i class="fa fa-arrow-alt-circle-right"></i>
                </button>
            </div>
        </form>

    </div>

</div>
<th:block th:include="~{/share/script-share :: scripts}"></th:block>
</body>
</html>