<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{/share/head-share :: head}"></th:block>
    <title>New hall</title>
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">
    <!-- Main Sidebar Container -->
    <th:block th:include="~{/share/side-share :: side}"></th:block>

    <div class="content-wrapper p-3">

        <div class="p-3 title d-flex justify-content-between">
            <p class="m-0 text-xl">Новый залл</p>
            <div class="d-flex align-items-center">
                <input id="submit-btn" form="add-hall-form" type="submit" class="btn btn-outline-light" value="Сохранить">
            </div>
        </div>

        <form id="add-hall-form" class="container-fluid" method="post" enctype="multipart/form-data" th:object="${hall}"
              th:action="@{/admin/hall/save}">
            <div class="container">
                <div class="row mt-3">
                    <div class="col-3">
                        <div th:include="~{/share/elements/name-element :: name-element}"></div>
                    </div>
                    <div class="col-1">
                        <label for="rows-count">Ряды</label>
                        <input id="rows-count" name="rows-count" type="number" class="form-control" value="0" min="1" required>
                    </div>
                    <div class="col-1">
                        <label for="place-count">Места</label>
                        <input id="place-count" name="place-count" type="number" class="form-control" value="0" min="1" required>
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col">
                        <div th:include="~{/share/elements/description-element :: description-element}"></div>
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col">
                        <div th:include="~{/share/elements/logo-horizontal-element :: logo-horizintal-element}"></div>
                    </div>
                    <div class="col">
                        <div th:include="~{/share/elements/banner-element :: banner-element}"></div>
                    </div>
                </div>
            </div>

            <div class="title d-flex justify-content-between align-items-center mt-3">
                <p class="m-0">Галерея</p>
                <label for="gallery-input" class="btn btn-outline-light">
                    <i class="fa fa-plus mr-2"></i>Загрузить
                </label>
                <input id="gallery-input" name="gallery-images" type="file" hidden multiple>
            </div>
            <div id="image-holder" class="grid-5"></div>

            <div class="mt-3" th:include="~{/share/elements/seo-element :: seo-element}"></div>

            <div class="container mt-5">
                <hr>
            </div>
        </form>

    </div>

</div>
<th:block th:include="~{/share/script-share :: scripts}"></th:block>
</body>
</html>