
<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:include="~{/share/admin-header :: admin-head}"></div>
<body class="hold-transition sidebar-mini">
<div class="wrapper">
    <div th:include="~{/share/admin-sidebar :: admin-sidebar}"></div>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

    </div>
    <!--     /.content-wrapper-->

</div>
<!-- ./wrapper -->
<div th:include="~{/share/admin-scripts :: admin-scripts}"></div>
</body>
</html>
