<!DOCTYPE html>

<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<div th:include="~{/share/admin-header :: admin-head}"></div>
<body class="hold-transition sidebar-mini">
<div class="wrapper">
    <div th:include="~{/share/admin-sidebar :: admin-sidebar}"></div>

    <div class="content-wrapper p-5">

        <form action="#" th:method="post" enctype="multipart/form-data"
              th:action="@{/admin/movies/update}" th:object="${movie_from_db}" class="w-100">
            <input type="hidden" th:value="*{id}" th:field="*{id}">
            <div class="row">
                <div class="main_img col-3">
                    <img src="#" alt="#" class="main_img w-100" th:src="*{image.url}">
                    <div class="form-group">
                        <label for="exampleInputFile">File input</label>
                        <div class="input-group">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="exampleInputFile">
                                <label  class="custom-file-label" for="exampleInputFile">picture.jpg</label>
                            </div>
                            <div class="input-group-append">
                                <span class="input-group-text" id="">Upload</span>
                            </div>
                        </div>
                    </div>
                    <input type="button" value="Удалить" class="btn btn-primary mt-1">
                </div>

                <div class="col-9">
                    <div class="row">
                        <label>
                            Название
                            <input type="text" th:value="*{name}"
                                   th:field="*{name}"
                                   class="form-control" placeholder="Название">
                        </label>

                        <div class="col-3">
                            Дата начала
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                                </div>

                                <input type="text" class="form-control" data-inputmask-alias="datetime"
                                       th:field="*{startDate}"  th:value="*{startDate}"
                                       data-inputmask-inputformat="dd/mm/yyyy" data-mask="" im-insert="false">
                            </div>
                        </div>

                        <div class="col-3">
                            Дата окончания
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                                </div>

                                <input type="text" class="form-control" data-inputmask-alias="datetime"
                                       th:field="*{endDate}"  th:value="*{endDate}"
                                       data-inputmask-inputformat="dd/mm/yyyy" data-mask="" im-insert="false">
                            </div>
                        </div>

                    </div>
                    <label class="d-block">
                        Описание
                        <textarea th:field="*{description}" rows="10" class="form-control"></textarea>
                    </label>
                    <label class="d-block">
                        Ссылка на видео
                        <input class="form-control" placeholder="http://youtube.com" type="text"
                               th:field="*{videoLink}">
                    </label>

                    <div class="movie_types d-flex mt-4">
                        <p class="text-bold mr-3">Типы показов:</p>
                        <div th:each="m_type : ${all_types}" class="d-flex align-items-baseline mr-5">
                            <input type="checkbox" class="mr-1"
                                   th:field="*{types}"
                                   th:value="${m_type.id}"
                                   th:text="${m_type.type}"
                            >
                        </div>
                    </div>
                </div>
            </div>

            <div class="d-flex mt-4">
                <div class="gallery w-25 mr-3" th:each="image : *{gallery}">
                    <img class="w-100 d-block" src="#" alt="#" th:src="${image.url}">
                </div>
            </div>

            <div class="seo text-center bg-gradient-blue mt-4">
                SEO BLOCK
            </div>
            <label class="d-block">
                URL
                <input class="form-control" type="text" th:field="*{seo.url}">
            </label>
            <label class="d-block">
                Заголовок
                <input class="form-control" type="text" th:field="*{seo.title}">
            </label>
            <label class="d-block">
                Ключевые слова
                <input class="form-control" type="text" th:field="*{seo.keyWords}">
            </label>
            <label class="d-block">
                Описание сео
                <input class="form-control" type="text" th:field="*{seo.description}">
            </label>

            <input type="submit" class="btn btn-success">
        </form>
    </div>


</div>
<div th:include="~{/share/admin-scripts :: admin-scripts}"></div>
</body>
</html>
