<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{/share/head-share :: head}"></th:block>
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">
    <!-- Main Sidebar Container -->
    <th:block th:include="~{/share/side-share :: side}"></th:block>

    <div class="content-wrapper p-3">

        <div class="p-3 bg-gradient-warning mt-2 mb-0 d-flex justify-content-between">
            <p class="m-0  text-xl">Редактор фильма</p>
            <div class="d-flex align-items-center">
                <input id="submit_btn" form="add-movie-form" type="submit" class="btn btn-outline-dark mr-4"
                       value="Сохранить">
            </div>
        </div>

        <form id="add-movie-form"
              name="add_movie_form"
              action="#" th:action="@{/admin/movies/add}"
              method="post"
              th:object="${new_movie}"
              enctype="multipart/form-data"
              class="mt-2">

            <div class="row">
                <div class="col-2">
                    <img id="main-image" th:src="@{/default/default_image.png}" alt="#" class="w-100">
                    <div class="d-flex">

                        <!--Main Image-->
                        <input id="image-pick-input"
                               type="file" hidden
                               oninvalid="alert('Забыли картинку добавить...')"
                               name="image-input"
                        >

                        <label for="image-pick-input" class="btn btn-success m-0 w-50">Загрузить</label>
                        <button id="delete-main-image" type="button" class="btn btn-danger w-50">Удалить</button>
                    </div>
                </div>
                <div class="col-10">
                    <div class="row">
                        <!--Name-->
                        <div class="name col-3">
                            <label for="name-input">Название</label>
                            <input id="name-input" type="text" class="form-control" th:field="*{name}"
                                   name="movie_name">
                            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
                        </div>
                        <!--StartDate-->
                        <div class="start-date col-3">
                            <label for="start-date-input">Дата начала</label>
                            <div class="input-group date" id="reservationdate" data-target-input="nearest">
                                <input id="start-date-input" type="text" class="form-control datepicker-input"
                                       data-target="#reservationdate" th:field="*{startDate}">
                                <div class="input-group-append" data-target="#reservationdate"
                                     data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                </div>
                            </div>
                        </div>
                        <!--EndDate-->
                        <div class="start-date col-3">
                            <label for="end-date-input">Дата окончания</label>
                            <div class="input-group date" id="reservationdate2" data-target-input="nearest">
                                <input id="end-date-input" type="text" class="form-control datepicker-input"
                                       data-target="#reservationdate2" th:field="*{endDate}">
                                <div class="input-group-append" data-target="#reservationdate2"
                                     data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                </div>
                            </div>
                        </div>
                        <!--Movie types-->
                        <div class="movie-types col-3 d-flex justify-content-center align-items-end">
                            <div class="type mr-3" th:each="t : ${all_types}">
                                <input type="checkbox" th:value="${t.id}" th:field="*{typeIds}" th:id="${t.id}">
                                <label th:for="${t.id}" th:text="${t.type}"></label>
                            </div>
                        </div>
                    </div>
                    <!--Video Link-->
                    <label class="d-block mt-3">
                        Ссылка на трейлер
                        <input type="text" th:field="*{videoLink}" class="form-control">
                    </label>
                    <!--Description-->
                    <label class="d-block">
                        Описание
                        <textarea rows="5" style="resize: none" class="form-control"
                                  th:field="*{description}"></textarea>
                    </label>
                </div>
            </div>

            <!-- Gallery -->
            <div class="p-3 bg-gradient-warning mt-2 mb-0 d-flex justify-content-between align-items-center">
                <p class="text-xl m-0">Галерея</p>
                <input id="image-pick-input-multiple" type="file" hidden name="image-pick-input-multiple" multiple>
                <label for="image-pick-input-multiple" class="btn btn-outline-secondary m-0">Загрузить</label>
            </div>
            <div id="image-holder" class="gallery grid-5"></div>


        </form>
    </div>

</div>
<th:block th:include="~{/share/script-share :: scripts}"></th:block>
</body>
</html>