<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{/share/head-share :: head}"></th:block>
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">
    <!-- Main Sidebar Container -->
    <th:block th:include="~{/share/side-share :: side}"></th:block>

    <div class="content-wrapper p-3">

        <div class="title d-flex justify-content-between">
            <p class="m-0 text-xl">Редактор новости</p>
            <div class="d-flex align-items-center">
                <input form="add-news-form" type="submit" class="btn btn-outline-light mr-4" value="Сохранить">
            </div>
        </div>

        <form id="add-news-form" action="#" th:action="@{/admin/news/update}" method="post" th:object="${news}"
              class="mt-2 needs-validation" enctype="multipart/form-data">
            <input type="hidden" th:value="*{id}" th:field="*{id}">
            <div class="row">
                <div class="col-3">
                    <!--Main image-->
                    <div th:include="~{/share/elements/logo-horizontal-element :: logo-horizintal-element}"></div>
                </div>
                <div class="col-9">
                    <div class="row">
                        <!--Name-->
                        <div th:include="~{/share/elements/name-element :: name-element}"></div>

                        <!--AddDate-->
                        <div class="start-date col-2">
                            <label for="start-date-input">Дата добавления</label>
                            <div class="input-group date" id="reservationdate" data-target-input="nearest">
                                <input id="start-date-input" type="text" class="form-control datepicker-input"
                                       th:attrappend="class=${#fields.hasErrors('date')} ? ' is-invalid'"
                                       data-target="#reservationdate" th:field="*{date}">
                                <div class="input-group-append" data-target="#reservationdate"
                                     data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                </div>
                            </div>
                            <span th:if="${#fields.hasErrors()}" th:errors="*{date}" class="text-danger"></span>
                        </div>

                        <!-- ON/OFF switch -->
                        <div class="bootstrap-switch-container">
                            <label for="onoff" class="d-block">Активация</label>
                            <input id="onoff" type="checkbox" name="my-checkbox" checked="" data-bootstrap-switch=""
                                   data-off-color="danger" data-on-color="success" th:field="*{enabled}">
                        </div>

                    </div>

                    <!--Video Link-->
                    <div th:include="~{/share/elements/videolink-element :: videolink-element}"></div>
                    <!--Description-->
                    <div th:include="~{/share/elements/description-element :: description-element}"></div>
                </div>
            </div>
            <div>
                <th:block th:include="~{/share/elements/gallery-element :: gallery-element}"></th:block>

            </div>
            <div class="mt-2">
                <th:block th:include="~{/share/elements/seo-element :: seo-element}"></th:block>
            </div>
        </form>

        <form id="delete_logo_form" th:action="@{/admin/news/logo/delete}" method="post">
            <input type="hidden" th:value="*{id}" name="news_id">
        </form>
        <form id="delete-gallery-form" th:action="@{/admin/news/gallery/delete}" method="post">
            <input type="hidden" th:value="*{id}" name="news_id">
        </form>
    </div>

</div>
<th:block th:include="~{/share/script-share :: scripts}"></th:block>
<script>
    $("input[data-bootstrap-switch]").each(function () {
        $(this).bootstrapSwitch('state', $(this).prop('checked'));
    })
</script>
</body>
</html>