<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:include="~{/share/head-share :: head}"></th:block>
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">
  <!-- Main Sidebar Container -->
  <th:block th:include="~{/share/side-share :: side}"></th:block>

  <div class="content-wrapper p-3">
    <div class="bg-gradient-warning p-3">
      <p class="text-xl m-0 text-uppercase">Редактор акций</p>
    </div>


  </div>
</div>
<th:block th:include="~{/share/script-share :: scripts}"></th:block>
</body>
</html>