.theatres {
    padding: 20px;
}

.theatres_list .content {
    grid-template-columns: repeat(2, 1fr);
}

.cinema {
    text-align: center;
    overflow: hidden;
}
.cinema_name {
    font-size: 1.5em;
    margin-top: 20px;
}