* {
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
    color: black;
}
.container {
    width: 80%;
    margin: 0 auto;
}
label {
    display: block;
}
.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    row-gap: 30px;
}
.grid_small {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 20px;
    row-gap: 30px;
}
img {
    width: 100%;
}
.commercial img{
    width: 75%;
}
input {
    background-color: white;
    border-color: gray;
    outline-color: gray;
    border-radius: 4px;
}

select {
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
}