header {
    margin-top: 30px;
}

header .container {
    background-color: rgba(255, 255, 255, .8);
    padding: 10px;
}

body {
    background-image: url("../img/bg.jpg");
}

#search-form {
    margin-right: 30px;
}

#search {
    height: 40px;
    width: 100%;
}

.logo img {
    width: 200px;
}

.nav-bar {
    margin-left: 40px;
}

.phone {
    font-size: 1.8em;
}

.socials img {
    max-width: 48px;
    margin-right: 20px;
}

.top-navi {
    margin-bottom: 20px;
}

.bottom-navi {
    font-size: 1.5em;
}

.title {
    font-size: 2em;
    padding-top: 20px;
    text-align: center;
}

.movies {
    display: grid;
    padding: 5px;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 60px;
    column-gap: 10px;
    text-align: center;
}

.movie img {
    max-width: 100%;
}

.movie .btn {
    margin-top: 15px;
}

.seo-text {
    margin-top: 40px;
    padding-bottom: 20px;
}
footer {
    padding: 20px;
    border-top: black solid 2px;
}
ul {
    list-style: none;
}
.footer-title {
    font-size: 1.5em;
    font-weight: 400;
}
.stores .title{
    font-size: 1em;
}
.stores-icons {
    margin-top: 10px;
}
.stores img{
    max-width: 100px;
    margin-right: 10px;
}
.stores img:last-child {
    margin: 0;
}
