.button {
    margin-top: 30px;
}
.movie-name {
    margin: 0;
    text-align: center;
    font-size: 1.5em;
    font-weight: 400;
}
.movie-content {
    width: 70%;
    margin: 0 40px;
    text-align: justify;
}
.img-holder {
    width: 30%;
}
.commercial {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    margin: 0 auto;
}