.grid-5 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 20px;
    row-gap: 30px;
}

.title {
    font-size: 2em;
    font-weight: 300;
    text-transform: uppercase;
    background-color: #0c525d;
    padding: 20px;
    color: whitesmoke;
    border-radius: 10px 10px 0 0;
}

.delete-x {
    position: absolute;
    top: 0;
    right: 0;
}

.ifactive {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
}

.alert {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 99;
}