<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<div th:insert="~{/share/head :: head}"></div>
<body>
<div th:insert="~{/share/header :: header}"></div>

<div class="container bg-light p-0">

    <section class="banner">
        <img src="#" th:src="@{/img/promotions/banner.png}" alt="Banner">
    </section>

    <section class="theatres d-flex align-items-start">
        <div class="theatres_list col-9 ">
            <div class="content w-100">
                <div class="cinema" th:each="promotion: ${promotions}">
                    <a href="#" th:href="@{/promotions/{id}(id = ${promotion.id})}">
                        <img src="#" th:src="@{${promotion.image.url}}" alt="img">
                        <div class="promotion_date" th:text="${promotion.date}"></div>
                        <div class="promotion_name" th:text="${promotion.name}"></div>
                    </a>
                </div>
            </div>
        </div>
        <div class="commercial col-3">
            <img src="../static/img/commercial_vertical.jpg" th:src="@{/img/commercial_vertical.jpg}" alt="commercial">
        </div>
    </section>

</div>

<div th:insert="~{share/footer:: the_footer}"></div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>
</body>
</html>