<html xmlns:th="http://www.thymeleaf.org">
<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4" th:fragment="sidebar">
    <!-- Brand Logo -->
    <a href="/admin" class="brand-link">
        <img src="../../static/dist/img/AdminLTELogo.png" th:src="@{/dist/img/AdminLTELogo.png}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
             style="opacity: .8">
        <span class="brand-text font-weight-light">Admin KinoCMS</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu">

                <!--Фильмы-->
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <p>
                            Фмльмы
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/admin/movies" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Все фильмы</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/admin/movies/add" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Добавить фильм</p>
                            </a>
                        </li>
                    </ul>
                </li>

                <!--Новости-->
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <p>
                            Новости
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/admin/news" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Все новости</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/admin/news/add" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Добавить новость</p>
                            </a>
                        </li>
                    </ul>
                </li>

                <!--Акции-->
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <p>
                            Акции
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/admin/promotion" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Все акции</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/admin/promotion/add" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Добавить акцию</p>
                            </a>
                        </li>
                    </ul>
                </li>

                <!--Кинотеатры-->
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <p>
                            Кинотеатры
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/admin/cinema" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Все кинотеатры</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/admin/cinema/add" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Добавить кинотеатр</p>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
</html>